.postpage_container{
    margin-right: 0;
    padding-right: 0;
    position: relative;
    right: 0;
    width: 25vw;
   padding-top: 60px;
    background-color: white;
    max-width: 300px;
   
      
}