.feed_container{
    background-color: white;
    padding: 20px;

    padding-top: 20px;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    position: relative;
  padding-top: 50px;
    
       
    
  
    
}